body {
  color: #fff;
  margin: 0;
  font-family: 'Inconsolata', monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 150vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 50vh;
  display: flex;
  justify-content: center;
}
#calculator {
  width: 60vw;
  padding: 5vh;
  background-color: #8e8e8e;
  border-radius: 10px;
}

#display {
  color: #fff;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  height: 30vh;
  background-color: #000;
  display: flex;
  padding: 1vw;
  box-sizing: border-box;
  font-size: 4vw;
  overflow-wrap: anywhere;
  overflow-y: auto;
}

#clear {
  grid-area: clear;
}

#divide {
  grid-area: divide;
}

#multiply {
  grid-area: multiply;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#subtract {
  grid-area: subtract;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#add {
  grid-area: add;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#equals {
  grid-area: equals;
}

#zero {
  grid-area: zero;
}

#decimal {
  grid-area: decimal;
}

/* $areas: clear, divide, multiply;

@each $area in $areas {
  ##{$area} {
    grid-area: $area;
  }
} */

#button-area {
  min-height: 70vh;
  display: grid;
  grid-template-areas: 
  'clear clear divide multiply'
  'seven eight nine subtract'
  'four five six add'
  'one two three equals'
  'zero zero decimal equals'
}

#button-area > button {
  font-family: 'Inconsolata', monospace;
  font-size: 6vw;
  min-height: 10vh;
  border: 1px solid #2e6c64;
  border-radius: 5%;
  color: #000;
  background-color: #00ffc3;
}

#button-area > button:hover{
  background-color: #00ff7a;
  border: 1px solid #00ff7a;
  color: #eae;
}

#button-area > button:active{
  background-color: #229e30;
  border: 1px solid #229e30;
  color: #a7ffea;
}


